<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jess Careers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        #banner {
            width: 100%;
            height: 360px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center mb-4 mt-4">Jess Careers</h1>
    <img id="banner" class="img-fluid" src="http://localhost:5000/static/c1.png">
    <h2 class="text-center mt-5">About Us</h2>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vero totam quis animi ipsam veniam, exercitationem ad deserunt recusandae delectus veritatis, sunt culpa adipisci distinctio! Similique amet debitis aspernatur modi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, eligendi odio nemo et veniam dicta amet suscipit quidem perferendis eaque assumenda earum ab neque exercitationem facere magni doloremque illo. Veritatis!</p>
    <h2 class="text-center">Open Positions</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti assumenda esse sunt nesciunt est quisquam alias placeat quidem fuga numquam? Amet, earum deleniti. Quod laborum cumque numquam neque fugiat quam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, laborum consequuntur, praesentium quam repellendus numquam nisi saepe magni quaerat dolor nobis nostrum. Dolore reiciendis recusandae atque nesciunt, officiis voluptatum tempora?
    </p>

<h2 class="text-center mt-4 mb-4">TODO - Show the jobs here</h2>
    <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-5">copyright 2024, Jecinta</p>
    </div>
</div>
</body>
</html>